SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,backend-quiz-lvgs.onrender.com
DATABASE_URL=postgresql://user:password@host:port/database
CORS_ALLOWED_ORIGINS=https://frontend-quiz-lyart.vercel.app,http://localhost:5173,http://127.0.0.1:5173
CSRF_TRUSTED_ORIGINS=https://frontend-quiz-lyart.vercel.app,http://localhost:5173,http://127.0.0.1:5173
